{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Editar Acta de Protesta {{ persona_acta_protesta.id }}{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Acta de Protesta: ' + persona_acta_protesta.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_acta_protesta_id': persona_acta_protesta.id} %}
        {% call f.form_tag_multipart('personas_actas_protestas.edit', fid='persona_acta_protesta_form', **form_kwargs) %}
            {% call f.form_group(form.persona, readonly=true) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.cargo) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
    {# Vista previa del archivo  #}
    {% call detail.card("Vista previa del archivo") %}
        {% if persona_acta_protesta.type_format(persona_acta_protesta.archivo) == "IMG" %}
            <img src="{{ url_for('personas_actas_protestas.view_file_img', persona_acta_protesta_id=persona_acta_protesta.id) }}" width="100%" height="auto">
        {% elif persona_acta_protesta.type_format(persona_acta_protesta.archivo) == "PDF" %}
            <object data="{{ url_for('personas_actas_protestas.view_file_pdf', persona_acta_protesta_id=persona_acta_protesta.id) }}" type="application/pdf" width="100%" height="600px">
                <p class="mb-0">El navegador no puede mostrar el archivo PDF o no existe en el depósito.</p>
            </object>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}
