{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}API Key{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('API Key de ' + usuario.email) %}
        {{ topbar.button_previous('Usuario ' + usuario.email, url_for('usuarios.detail', usuario_id=usuario.id)) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Usuario') %}
        {{ detail.label_value('Nombre', usuario.nombre) }}
        {{ detail.label_value('Puesto', usuario.puesto) }}
    {% endcall %}
    {% call detail.card(title='API Key') %}
        <form onsubmit="preventFormSubmit()">
            <div class="mb-3">
                <div class="mb-2">
                    Para generar la API Key elija la cantidad de días de duración...
                </div>
                <div class="form-check">
                    <input type="radio" id="duration30days" name="fieldDays" value="30" class="form-check-input">
                    <label for="duration30days" class="form-check-label">30 días = 1 mes</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="duration90days" name="fieldDays" value="90" class="form-check-input">
                    <label for="duration90days" class="form-check-label">90 días = 3 meses</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="duration365days" name="fieldDays" value="365" class="form-check-input">
                    <label for="duration365days" class="form-check-label">365 días = 1 año</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="duration3650days" name="fieldDays" value="3650" class="form-check-input">
                    <label for="duration3650days" class="form-check-label">3650 días = 10 años</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="fieldAPIKey" class="col-form-label">
                    Luego de clic en <strong>Limpiar</strong> y después en <strong>Nueva</strong>.
                    🚨 <strong>ADVERTENCIA:</strong> Si la cambia, la anterior API Key dejará de funcionar. 🚨
                </label>
                <div class="input-group mb-2">
                    <button type="button" class="btn btn-outline-danger" id="buttonCopyToClipboard" onclick="cleanAPIKey()">Limpiar</button>
                    <button type="button" class="btn btn-outline-secondary" id="buttonCopyToClipboard" onclick="newAPIKey()">Nueva</button>
                    <input type="text" disabled class="form-control" id="fieldAPIKey" aria-label="API Key" aria-describedby="buttonCopyToClipboard" value="{{ usuario.api_key }}">
                    <button type="button" class="btn btn-outline-primary" id="buttonCopyToClipboard" onclick="copyToClipboard()">Copiar</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="staticAPIKeyExpiracion" class="col-form-label">Expiración</label>
                <input type="text" disabled class="form-control" id="staticAPIKeyExpiracion" value="">
            </div>
        </form>
    {% endcall %}
    {% call detail.card(title='Permisos ordenados por nivel') %}
        <div class="row">
        {% if permisos_en_nivel_1 %}
            <div class="col">
                <strong>Ver</strong>
                <ul>
                {% for etiqueta in permisos_en_nivel_1 %}
                    <li>{{ etiqueta }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if permisos_en_nivel_2 %}
            <div class="col">
                <strong>Ver y modificar</strong>
                <ul>
                {% for etiqueta in permisos_en_nivel_2 %}
                    <li>{{ etiqueta }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if permisos_en_nivel_3 %}
            <div class="col">
                <strong>Ver, modificar y crear</strong>
                <ul>
                {% for etiqueta in permisos_en_nivel_3 %}
                    <li>{{ etiqueta }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if permisos_en_nivel_4 %}
            <div class="col">
                <strong>Administrar</strong>
                <ul>
                {% for etiqueta in permisos_en_nivel_4 %}
                    <li>{{ etiqueta }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        // Define the function to get the selected radio button's value
        function getSelectedRadioValue(name) {
            const selectedRadio = document.querySelector('input[name="' + name + '"]:checked');
            return selectedRadio ? selectedRadio.value : '';
        }
        // Define the function to set the selected radio button's value
        function setSelectedRadioValue(name, value) {
            const selectedRadio = document.querySelector('input[name="' + name + '"][value="' + value + '"]');
            if (selectedRadio) {
                selectedRadio.checked = true;
            }
        }
        // Prevent form submit
        function preventFormSubmit() {
            event.preventDefault();
        }
        // Define fields
        var myAPIKeyField = document.getElementById('fieldAPIKey');
        var myAPIKeyExpiracionField = document.getElementById('staticAPIKeyExpiracion')
        // Define URL for request
        var myRequestURL = '{{ url_for("usuarios.request_api_key_json", usuario_id=usuario.id) }}';
        // Prepare headers
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        // Init request
        const myInit = {
            method: 'POST',
            headers: myHeaders,
            mode: 'cors',
            cache: 'default'
        };
        // Define the funtion to request to new_api_key_json,
        // it responds with success, message, api_key and api_key_expiracion
        function requestAPIKey() {
            // Fetch request
            fetch(myRequestURL, myInit)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        myAPIKeyField.value = data.api_key;
                        myAPIKeyExpiracionField.value = data.api_key_expiracion;
                    }
                    console.log(data.message);
                })
                .catch(error => {
                    console.log(error);
                });
        }
        // Copy to clipboard
        function copyToClipboard() {
            if (myAPIKeyField.value != '') {
                myAPIKeyField.select();
                myAPIKeyField.setSelectionRange(0, 99999);
                document.execCommand('copy');
                console.log('Copiado al portapapeles');
            }
        }
        // Clean API Key
        function cleanAPIKey() {
            if (myAPIKeyField.value != '') {
                formData = new FormData();
                formData.append('action', 'clean');
                myInit.body = formData;
                requestAPIKey();
            }
        }
        // New API Key
        function newAPIKey() {
            if (myAPIKeyField.value == '') {
                formData = new FormData();
                formData.append('action', 'new');
                formData.append('days', getSelectedRadioValue('fieldDays'));
                myInit.body = formData;
                requestAPIKey();
            }
        }
        // When document is ready, request API Key
        $(document).ready(function() {
            requestAPIKey();
            setSelectedRadioValue('fieldDays', '365'); // Default value
        });
    </script>
{% endblock %}
