{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Acta Administrativa {{ persona_acta_administrativa.id }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + persona_acta_administrativa.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_acta_administrativa_id': persona_acta_administrativa.id} %}
        {% call f.form_tag('personas_actas_administrativas.edit', fid='persona_acta_administrativa_form', **form_kwargs) %}
            {% call f.form_group(form.persona, readonly=true) %}{% endcall %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.falta) %}{% endcall %}
            {% call f.form_group(form.sancion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
