{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Fotografía {{ fotografia.id }}{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Fotografía') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_fotografia_id': fotografia.id} %}
        {% call f.form_tag_multipart('personas_fotografias.edit', fid='fotografia_form', **form_kwargs) %}
            {% call f.form_group(form.persona, readonly=true) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
    {% if fotografia.archivo %}
        <a href="{{ fotografia.url }}"><img src="{{ fotografia.url }}" style="max-width: 255px; height: auto;"/></a>
    {% endif %}
{% endblock %}


{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}