.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store
.~lock.*

*.csv
*.log
*.py[cod]
*.sql
*.sqlite3
*.sqlite3-journal
*.session.sql
*.xls
*.xlsx
*.XLS
*.XLSX

__pycache__/
/.idea
/.git
/.github
/.venv
/.vscode
/cli
/poetry.lock
/seed
/setup.cfg
/sql
/tests
/venv
