.directory
.DS_Store
.~lock.*

*.csv
*.log
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.session.sql
*.sql
*.xls
*.xlsx
*.XLS
*.XLSX

.bashrc
.env
poetry.lock

__pycache__/
*.egg-info/

/.idea/
/.venv/
/seed/
/venv/
