{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Nivel Académico {{ nivel_academico.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar ' + nivel_academico.nombre) %}
        {{ topbar.button_cancel() }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'nivel_academico_id': nivel_academico.id} %}
        {% call f.form_tag('niveles_academicos.edit', fid='nivel_academico_form', **form_kwargs) %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
