{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('INCAPACIDADES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('incapacidades.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('incapacidades.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INCAPACIDADES') %}
            {# {{ topbar.button_new('Nuevo Incapacidad', url_for('incapacidades.new')) }} #}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros incapacidades -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosIncapacidad.buscar(); return false;">
                    <div class="col-6">
                        <div class="form-floating">
                            <input id="filtroFechaInicio" type="date" class="form-control" aria-label="Fecha Inicio">
                            <label for="filtroFechaInicio">Fecha de Inicio</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input id="filtroFechaTermino" type="date" class="form-control" aria-label="Fecha Termino">
                            <label for="filtroFechaTermino">Fecha de Término</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-floating">
                            <input id="filtroPersonaNombre" type="text" class="form-control" aria-label="Nombre Persona" style="text-transform: uppercase;">
                            <label for="filtroPersonaNombre">Nombre de la Persona</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosIncapacidad.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosIncapacidad.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable incapacidades -->
        <table id="incapacidades_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Persona</th>
                    <th>Días</th>
                    <th>Motivo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable incapacidades
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/incapacidades/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'persona' },
            { data: 'dias' },
            { data: 'motivo' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.periodo + '</a>';
                }
            },
            {
                targets: 1, // persona
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            }
        ];
        // Filtros incapacidades
        const filtrosIncapacidad = new FiltrosDataTable('#incapacidades_datatable', configDataTable);
        filtrosIncapacidad.agregarInput('filtroFechaInicio', 'fecha_inicio');
        filtrosIncapacidad.agregarInput('filtroFechaTermino', 'fecha_termino');
        filtrosIncapacidad.agregarInput('filtroPersonaNombre', 'persona_nombre_completo');
        filtrosIncapacidad.precargar();
    </script>
{% endblock %}
