{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Historial de Puesto{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Historial de Puesto') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_id': persona.id} %}
        {% call f.form_tag('historial_puestos.new_with_person', fid='historial_puesto_form', **form_kwargs) %}
            {% call f.form_group(form.persona, readonly=true) %}{% endcall %}
            {% call f.form_group(form.puesto) %}{% endcall %}
            {% call f.form_group(form.funcion) %}{% endcall %}
            {% call f.form_group(form.centro_trabajo) %}{% endcall %}
            {% call f.form_group(form.area) %}{% endcall %}
            {% call f.form_group(form.turno) %}{% endcall %}
            {% call f.form_group(form.fecha_inicio) %}{% endcall %}
            {% call f.form_group(form.fecha_termino) %}{% endcall %}
            {% call f.form_group(form.nivel) %}{% endcall %}
            {% call f.form_group(form.quinquenio) %}{% endcall %}
            {% call f.form_group(form.nombramiento) %}{% endcall %}
            {% call f.form_group(form.tipo_nombramiento) %}{% endcall %}
            {% call f.form_group(form.nombramiento_observaciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Select2 para Puestos -->
    <script>
        $(document).ready(function(){
            $("#puesto").select2({
                // --- Carga de registros por Ajax --- //
                ajax: {
                    url: '/puestos/query_puestos_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'clave_nombre': params.term.toUpperCase() };
                    }
                },
                placeholder: "Clave: Nombre del Puesto",
                minimumInputLength: 3,
                allowClear: true
            });
            $('#funcion').prop("disabled", true);
        });

        $('#puesto').on("select2:clear", function (e) {
            $('#funcion').val(null).trigger('change');
            $('#funcion').prop("disabled", true);
        });

        $('#puesto').on("select2:select", function (e) {
            $('#funcion').prop("disabled", false);
            $("#funcion").select2({
                ajax: {
                    url: '/puestos_funciones/query_puestos_json',
                    headers: { 'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'nombre': params.term.toUpperCase(), "puesto_id":  $('#puesto').val() };
                    }
                },
                placeholder: "Funciones",
                allowClear: false,
            });
        });
    </script>
{% endblock %}
