{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Puesto{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Puesto') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('puestos.new', fid='puesto_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.tipo_cargo) %}{% endcall %}
            {% call f.form_group(form.tipo_empleado) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
