{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Editar Nombramiento {{ persona_nombramiento.id }}{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + persona_nombramiento.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_nombramiento_id': persona_nombramiento.id} %}
        {% call f.form_tag_multipart('personas_nombramientos.edit', fid='persona_nombramiento_form', **form_kwargs) %}
            {% call f.form_group(form.persona, readonly=true) %}{% endcall %}
            {% call f.form_group(form.cargo) %}{% endcall %}
            {% call f.form_group(form.centro_trabajo) %}{% endcall %}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {% call f.form_group(form.fecha_inicio) %}{% endcall %}
            {% call f.form_group(form.fecha_termino) %}{% endcall %}
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
    {% call detail.card("Vista previa del archivo") %}
        {% if persona_nombramiento.type_format(persona_nombramiento.archivo) == "IMG" %}
            <a href="{{ persona_nombramiento.url }}"><img src="{{ persona_nombramiento.url }}" style="max-width: 500px; height: auto;"/></a>
        {% endif %}
        {% if persona_nombramiento.type_format(persona_nombramiento.archivo) == "PDF" %}
            <object data="{{ persona_nombramiento.url }}" type="application/pdf" width="100%" height="600"></object>
        {% endif %}
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    {{ f.drop_zone_js() }}
{% endblock %}