{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('PERSONAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('personas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('personas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('PERSONAS') %}
            {{ topbar.button_new('Nueva Persona', url_for('personas.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Personas -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosPersonas.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroNumeroEmpleado" type="text" class="form-control" aria-label="No. Emp.">
                            <label for="filtroNumeroEmpleado">No. Emp.</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroNombreCompleto" type="text" class="form-control" aria-label="Nombre completo" style="text-transform: uppercase;">
                            <label for="filtroNombreCompleto">Nombre completo</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="filtroSituacion" class="form-control" aria-label="Situacion" onchange="filtrosPersonas.buscar(); return false;" style="flex: inherit;">
                                <option selected value=""></option>
                                {% for clave, valor in situaciones.items() %}
                                    <option value="{{clave}}">{{valor}}</option>
                                {% endfor %}
                            </select>
                            <label for="filtroSituacion">Situación</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPersonas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPersonas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Personas -->
        <table id="personas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>No. Emp.</th>
                    <th>Nombre completo</th>
                    <th>Situación</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Personas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/personas/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'numero_empleado' },
            { data: 'detalle' },
            { data: 'situacion' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 1, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre_completo + '</a>';
                }
            },
            {
                targets: 2, // situacion
                data: null,
                render: function(data, type, row, meta) {
                    return '<span title="' + data.descripcion + '">' + data.nombre + '</span>';
                }
            }
        ];
        // Filtros Personas
        const filtrosPersonas = new FiltrosDataTable('#personas_datatable', configDataTable);
        filtrosPersonas.agregarInput('filtroNumeroEmpleado', 'numero_empleado');
        filtrosPersonas.agregarInput('filtroNombreCompleto', 'nombre_completo');
        filtrosPersonas.agregarInput('filtroSituacion', 'situacion');
        filtrosPersonas.precargar();
    </script>
{% endblock %}
