{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Área {{ area.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Área ' + area.id | string ) %}
        {{ topbar.button_previous('Áreas', url_for('areas.list_active')) }}
        {% if current_user.can_edit('AREAS') %}
            {{ topbar.button_edit('Editar', url_for('areas.edit', area_id=area.id)) }}
        {% endif %}
        {% if current_user.can_admin('AREAS') %}
            {% if area.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('areas.delete', area_id=area.id)) }}{% endif %}
            {% if area.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('areas.recover', area_id=area.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=area.estatus) %}
        {{ detail.label_value('Nombre del área', area.nombre) }}
        {% if current_user.can_view('CENTROS TRABAJOS') %}
            {{ detail.label_value('Centro de Trabajo', area.centro_trabajo.clave_nombre, url_for('centros_trabajos.detail', centro_trabajo_id=area.centro_trabajo.id)) }}
        {% else %}
            {{ detail.label_value('Centro de Trabajo', area.centro_trabajo.clave_nombre) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('AREAS') %}
        {% if area.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar el área ' + area.nombre + '?') }}{% endif %}
        {% if area.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar el área ' + area.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
